{{ $page := .page }}
{{ $author_urlized := .username }}
{{ $site_type := site.Params.site_type | default "Person" }}
{{ $taxonomy := "authors" }}
{{ $profile_page := site.GetPage (printf "/%s/%s" $taxonomy $author_urlized) }}
{{ with $profile_page }}
  {{/* If it's a personal site and primary page author is superuser, link to the homepage rather than their profile page. */}}
  {{ $profile_url := .RelPermalink }}
  {{ if and (eq $site_type "Person") (eq .Params.superuser true) }}
    {{ $profile_url = site.BaseURL }}
  {{ end }}
  {{ $avatar := (.Resources.ByType "image").GetMatch "*avatar*" }}
  <div class="media author-card content-widget-hr">
    {{ partial "avatar" (dict "person" .Params "class" "mr-3" "avatar" $avatar) }}
    <div class="media-body">
      <h5 class="card-title"><a href="{{$profile_url}}">{{.Params.name}}</a></h5>
      {{ with .Params.role }}<h6 class="card-subtitle">{{. | markdownify | emojify}}</h6>{{end}}
      {{ with .Params.bio }}<p class="card-text">{{. | markdownify | emojify}}</p>{{end}}
      {{ partial "social_links" (dict "social" .Params.social) }}
    </div>
  </div>
{{end}}{{/* Profile page block */}}
